<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Listar Tarefas</title>
  </head>
  <body>
    <h1>Lista de Tarefas</h1>
    <p><a href="{% url 'novaTarefa' %}">Nova Tarefa</a></p>
    <ul>
      {% for tarefa in tarefas %}
      <li>
        <strong> {{ tarefa.titulo }} </strong>
        -
        <p>{{ tarefa.descricao }}</p>

        {% if tarefa.finalizado %} Status: Finalizada {% else %} Status:
        Pendente {% endif %}
        <a href="{% url 'editarTarefa' tarefa.id %}">Editar</a>

        <form
          method="POST"
          action="{% url 'deletarTarefa' tarefa.id %}"
          style="display: inline"
        >
          {% csrf_token %}
          <button type="submit" style="color: red">Excluir</button>
        </form>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
